a {
  text-decoration: none !important;
  /* color: black !important; */
  font-weight: 700;
  color: rgba(170, 196, 230, 1) !important;

}

a.active {
  /* font-weight: bold; */
  /* color: #5800b0 !important    ; */
  /* font-weight:700; */
  color: white !important;

}

.cus-nav {
  padding: 15px 10% !important;
  background-image: url("../../public/images/minimal.png");
}

.menu-items-container {
  display: flex;
}

.hamburger {
  display: none;
}
.menu-container {
  display: flex;
}
@media only screen and (max-width: 800px) {
  .cus-nav {
    padding: 15px 10px !important;
  }
  .menu-container {
    display: block;
  }
  .hamburger {
    display: block;
  }
  .menu-items-container {
    display: block;
    margin-top: 20px;
    
  }
  .menu-item {
    text-align: center !important;
    /* background-color: aliceblue; */
    border-bottom: 1px solid rgb(27, 16, 100);
    padding: 15px 0;
  }
  .menu-hidden {
    display: none;
  }
}





/* @media only screen and (max-width: 768px) {
  .logo-hang {
    padding: 7px 0;
  }
  .logo-but {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 880px) {
  .cus-medium {
    display: flex !important;
  }
  .cus-md-hide {
    display: none !important;
  }
}

.cus-md-show {
  display: none !important;
}

@media only screen and (min-width: 880px) {
  .cus-md-show {
    display: block !important;
  }
}

.drawer-hidden {
  display: none;
} */

/* .text-jost {
    font-family: "Jost";
} */
