.sect1-right {
  background: url("../../public/images/spr-bg.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: 90% 90%;
}

@media only screen and (max-width: 768px) {
  .bg-left-text {
    font-size: 24px !important;
    line-height: 36px !important;
  }
  .sm-left-text {
    font-size: 8px !important;
    line-height: 15px !important;
  }
  .img-ic {
    height: 15px;
    width: 15px;
  }
  .sec-1-rg-img {
    height: 90%;
    width: 85%;
  }
  .overlay-gp {
    top: 50px !important;
    left: -30px !important;
    width: 50%;
  }
  .crw-img {
    height: 36px;
    width: 44px;
    top: -20px !important;
    left: -20px !important;
  }
}
