@media only screen and (max-width: 768px) {
  .bg-left-text {
    font-size: 24px !important;
    line-height: 36px !important;
  }
  .sm-left-text {
    font-size: 8px !important;
    line-height: 15px !important;
  }
  .img-ic{
    height: 15px;
    width: 15px;
  }
}
