body {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* typography */
* {
  font-family: "Satoshi", sans-serif !important;
}
.clash-d-f{
  font-family: 'Clash Display', sans-serif !important;
                                                
}

.fw-700{
  font-weight: 700;
}










.side-padding {
  padding: 0 10%;
}

/* colors */
.blue-bg {
  background-color: #004db3;
}

.body-wrapper {
  padding-top: 100px;
}


.cursor-pointer{
  cursor: pointer;
}



@media only screen and (max-width: 768px) {
  .side-padding {
    padding: 0 10px;
  }
}